@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap');

header img{
  width: 100%;
}

header{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

header nav{
  position: absolute;
  display: flex;
  justify-content: space-around;
  margin: 0 8%;
  padding: 40px 0;
  /* background-color: aqua; */
  gap: 50px;
  font-family: "Montserrat", serif;
}

.rightNav a{
  margin-right: 30px;
  color: white;

}

.scroll-down{
  position: absolute;
  bottom: 30px ;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  animation: bounce 1s infinite;
}

.scroll-down p{
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #fff;
  font-family: var(--primary-ft);
  font-size: 15px;
  font-weight: 600;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(.8,0,1,1);
  }
  50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,.2,1);
  }
}